%h4 Change password
= form_for user, :url => [:update_password, user], :html => { :method => :put } do |f|
  %p
    %label Password
    .input
      = f.password_field :password
  %p
    %label Confirm password
    .input
      = f.password_field :password_confirmation
  %p
    .input
      = f.submit 'Change password!', :class => 'btn success'