%h2 Game History

- unless user.gameusers.empty?
  #game_histories
    - user.gameusers.each do |gu|
      .game_info.vm
        = link_to "Game ##{gu.game_id}", sumary_game_path(gu.game), :class => 'game'
        .status= gu.state
- else
  %span No games yet!