%h1 New Feed

%p
  %table.zebra-striped
    %tbody
      - if @activities.any?
        - for event in @activities do
          %tr
            %td= humanize_event(event)
        %tr
          %td= paginate @activities
      - else
        %tr
          %td There are no events yet!
