.hero-unit
  %h1 Experiments
  %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  = link_to 'New Experiment', new_experiment_path
.row
  .span12 Private
  = render @private_experiments, :can_edit => true

.row
  .span12 Public
.row
  = render @public_experiments, :can_edit => false
    
